.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  &__rightSection {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;

  p {
    font-size: 28px;
    font-weight: 500;
  }
}

.menu {
  position: relative;

  &__hide, &__show {
    height: 0;
    transition: all .15s;
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: 100%;
    background-color: var(--bg-color);
    z-index: 3;
    border-radius: 4px;
  }

  &__show {
    height: 107px;
  }

  &__btn {
    position: relative;
    z-index: 3;
  }

  &__content, &__contentHide {
    width: 100%;
    border: 2px solid var(--border-color);
    min-width: 100px;
    border-radius: 4px;
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: flex-start;
    height: 100%;

    span {
      font-size: 16px;
    }
  }

  &__language {
    display: flex;
    column-gap: 16px;
    align-items: center;

    img {
      padding-bottom: 3px;
    }
  }
}

.shadow, .shadowActive {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  transition: all .15s;
}

.shadowActive {
  background-color: rgba(0, 0, 0, 0.3);
}

.headerNav {
  display: flex;
  align-items: center;
  column-gap: 24px;

  .link, .linkActive {
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;

    span {
      transition: all .2s;
      color: var(--title-color);
    }

    &:after {
      transition: all .15s;
      position: absolute;
      content: "";
      display: block;
      height: 2px;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -4px;
      background-color: var(--border-color);
    }
  }

  .link:hover, .linkActive {
    span {
      color: var(--text-color);
    }

    &:after {
      width: 105%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 16px;
  }

  .logo p {
    font-size: 20px;
  }
}
