.exerciseDetail {
  height: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.title {
  color: var(--title-color);
  margin-bottom: 16px;
}

.image {
  //margin: 0 auto;
  //width: auto;
  //max-height: 200px;
  object-fit: contain;
}

.description {
  margin: 16px 0 24px;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  height: 200px;
  position: relative;

  @media only screen and (min-width: 500px) {
    height: 300px;
  }
}

.videoWrapper {
  height: 300px;

  iframe {
    width: 100%;
    height: 100%;
  }
  padding-bottom: 16px;
}