.settings {
  h2 {
    text-align: center;
    color: var(--title-color);
    font-size: 18px;
  }
}

.profile {
  form {
    width: 100%;
  }
}

.languages, .profile {
  margin: 8px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    color: var(--title-color);
    font-size: 16px;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    column-gap: 16px;

    span {
      font-size: 16px;
    }
  }

  &__name {
    min-width: 100px;
    text-align: start;
  }

  &__checkbox, &__checkboxActive {
    width: 16px;
    height: 16px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: relative;
  }

  &__checkboxActive:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--border-color);
  }
}