.process {
  max-width: 30%;
  min-width: 30%;
  width: 30%;

  input {
    height: 20px;
    //margin: 2px 0;
    background-color: transparent;
    border: 1px solid var(--border-color);
    width: 100%;
    color: var(--text-color);
    padding-left: 4px;
    font-size: 12px;
  }

  &__date {
    margin-bottom: 8px;
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    margin-bottom: 16px;
  }
}