.profile {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  position: relative;

  &__header {
    display: flex;
    column-gap: 16px;
    margin-top: 4px;


    img {
      border-radius: 4px;
    }

    p, input {
      font-size: 18px;
      margin: 8px 0;
    }

    input {
      background-color: transparent;
      color: #fff;
    }

    span {
      opacity: 0.4;
    }
  }
}

.settings {
  position: absolute;
  right: 4px;
  top: 4px;
}

.friends {
  margin-top: 16px;
  width: 100%;

  &__link {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    img {
      max-width: 64px;
      width: 64px;
      height: 64px;
      max-height: 64px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span, h2 {
      font-size: 16px;
      color: var(--title-color);
    }
  }

  ul {
    margin-top: 8px;
    display: flex;
    column-gap: 16px;
    row-gap: 8px;
    flex-wrap: wrap;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 180px;
  }

  li {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__name {
    max-width: 64px;
    font-size: 12px;
    text-align: center;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: 28px;
  }

  h2, h2 span {
    color: var(--title-color);
  }
}

.programsLink {
  display: block;
  margin-top: 8px;

  span {
    font-size: 16px;
    opacity: 1;
    font-weight: 600;
    letter-spacing: 1.1;
    text-decoration: underline;
  }
}