
.programs {
  display: flex;
  flex-direction: column;

  h2 {

    margin-bottom: 16px;
  }
}

.createLink {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.createButton {
  span {
    font-weight: 500;
  }
}

.programItem {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
  }

  span {
    text-align: center;
    display: block;
    margin-bottom: 4px;
  }

  p {
    text-align: center;
    font-size: 12px;
  }
}

.programList {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

@media only screen and (min-width: 768px) {
  .programList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 32px;
  }
}