

.usersPage {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__title {
    height: 20px;
    width: 30%;
    margin: 0 auto;
  }

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}

.users {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}

.user {
  display: flex;
  column-gap: 16px;

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }

  &__img {
    width: 60px;
    height: 60px;
  }

  &__name {
    height: 16px;
    width: 50%;
  }
}

.profile {
  margin-top: 4px;
  display: flex;
  column-gap: 16px;

  &__img {
    width: 96px;
    min-width: 96px;
    height: 96px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
  }

  &__txt {
    margin: 8px 0;
    height: 20px;
    width: 50%;
  }

  &__txtSecond {
    height: 16px;
    width: 50%;
  }

  span {
    display: block;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}