

.usersPage {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__title {
    height: 20px;
    width: 30%;
    margin: 0 auto;
  }

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}

.users {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}

.user {
  display: flex;
  column-gap: 8px;
  align-items: flex-start;
  justify-content: space-between;

  &__info {
    display: flex;
    column-gap: 16px;
  }

  &__btn {
    margin-top: 8px;
    height: 28px;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
    width: 124px;
  }

  span {
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }

  &__img {
    display: block;
    width: 60px;
    min-width: 60px;
    height: 60px;
  }

  &__name {
    margin-top: 8px;
    display: block;
    height: 16px;
    width: 100px;
  }
}

.profile {
  margin-top: 4px;
  display: flex;
  column-gap: 16px;

  &__img {
    width: 96px;
    min-width: 96px;
    height: 96px;
  }

  &__name {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
  }

  &__txt {
    margin: 8px 0;
    height: 20px;
    width: 50%;
  }

  &__txtSecond {
    height: 16px;
    width: 50%;
  }

  span {
    display: block;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
  }
}

.profileSettings {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;

  &__title {
    height: 18px;
    width: 80px;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
    display: block;
    margin: 0 auto 19px;

    @media only screen and (min-width: 768px) {
      height: 21px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-width: 800px;
    margin: 0 auto;
  }

  &__label {
    width: 110px;
    height: 16px;
    margin: 0 0 6px 8px;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
    display: block;
  }

  &__field, &__btn {
    height: 40px;
    border-radius: 4px;
    background-color: var(--skeleton-bg);
    display: block;

    @media only screen and (min-width: 768px) {
      height: 60px;
    }
  }

  &__btn {
    margin: 16px auto 0;
    max-width: 800px;
  }
}