.histories {
  //border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.historyCard {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

  }
}

.datBox {
  display: flex;
  align-items: center;
  column-gap: 4px;
  justify-content: center;
}

.date {
  font-weight: 600;
}

.userInfo {
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: center;

  p {
    font-size: 16px;
  }
}

.exerciseList {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  li {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .exerciseList__weight {
    font-weight: 700;
    margin-left: 8px;
  }
}

.exerciseLoad {
  width: 300px;
  height: 19px;
  display: block;
  background-color: var(--skeleton-bg);
  border-radius: 4px;
}